@model IEnumerable<HRWeb.Models.Department>
@inject SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Departments";
}

<div class="text-center">
    <h1 class="display-4">Departments</h1>
</div>


@if (_signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
{
<p>
    <a class="btn btn-info" asp-action="Create">Add New Department</a>
</p>
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["AlertMessage"]
    </div>
}


<form asp-controller="Department" asp-action="Index" method="get">
    <p>
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table"
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                @if (_signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {

                    <td>
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>
