@model IEnumerable<HRWeb.Models.Leave>
@inject SignInManager<ApplicationUser> _signInManager

@{
    ViewData["Title"] = "Index";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<h1>Leave Request</h1>

<p>
    <a class="btn btn-info" asp-action="Create">New Leave Request</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Full Name</th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
                <td>@string.Format("{0} {1}", item.Owner.FirstName, item.Owner.LastName)</td>

                <td>
                    @Html.DisplayFor(modelItem => item.LeaveStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>






                @if (_signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {
@*                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>*@



                    <td>
                    @using (Html.BeginForm("Approve", "Leaves", new { id = item.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-success">Approve</button>
                    }
                    </td>

                    <td>
                    @using (Html.BeginForm("Decline", "Leaves", new { id = item.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger">Decline</button>
                    }
                    </td>


                }
                <td>
                    <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>





            </tr>
        }
    </tbody>
</table>

